@import 'tailwindcss';

@import './fonts.css';


:root {
  --shadow-base: 0 5px 20px 0 rgb(0 0 0 / 7%);

  --sans: 'Proxima Nova', Roboto, system-ui, sans-serif;

  font-family: var(--sans);
  line-height: 1.25;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
