@import 'tailwindcss';

@import './fonts.css';

:root {
  --shadow-base: 0 5px 20px 0 rgb(0 0 0 / 7%);

  --sans: 'Proxima Nova', Roboto, system-ui, sans-serif;
  font-family: var(--sans);
  line-height: 1.25;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-primary: #ffab08;
  --color-accent: #f9f9f9;

  --breakpoint-xs: 23rem;
}

@utility focus-ring {
  @apply focus-visible:ring-2 focus-visible:ring-amber-700 focus-visible:ring-offset-2 focus-visible:outline-none;
}

@utility peer-focus-ring {
  @apply peer-focus-visible:ring-2 peer-focus-visible:ring-amber-700 peer-focus-visible:ring-offset-2;
}
